@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
asd asd abcdeaaaaaa
<p>Use this area to provide additional information.</p>
ssssssssssaaaaaaaaaaaaaaaaaaaaa